---
import Page from "../layouts/Page.astro";
import ChoiceCard from "../components/ChoiceCard.astro";
import Field from "../components/Field.astro";
import Input from "../components/Input.astro";
import TextArea from "../components/TextArea.astro";
---

<Page title="Home">
    <main>
        <section class="max-w-[1000px] mx-auto px-8 mt-12">
            <div class="text-7xl tracking-tighter leading-none font-bold">
                <div class="text-yellow-400">UNRULY</div>
                <div class="text-white">GOOSE</div>
            </div>
            <p class="text-2xl mt-6 leading-normal">
                Elevate your Fringe shows and events with our media production
                services.
            </p>
            <p class="mt-6 leading-normal">
                Based locally in Edinburgh, Unruly Goose is uniquely positioned
                to offer live broadcast and show recording for productions at
                the Fringe Festival. We offer low-cost media services designed
                to meet the creative and financial needs of shows of all sizes,
                allowing them to reach and sell to international audiences.
            </p>
            <p class="mt-6 leading-normal">
                We support all manner of requirements, from simple shows that
                only need one camera to complex productions with live graphics
                and multiple angles that bring viewers right into the action. We
                relish a challenge, and will develop a solution that meets your
                show's specific needs.
            </p>
            <p class="mt-6 leading-normal">
                Share a speficiation with us below or shoot off an email to <a
                    href="mailto:fringe@unrulygoose.com"
                    class="text-yellow-400 underline">fringe@unrulygoose.com</a
                >.
            </p>
        </section>
        <form
            class="bg-neutral-900 sm:rounded-lg sm:m-8 mt-8 sm:mt-12"
            data-netlify="true"
            name="fringe"
            method="POST"
        >
            <div class="p-8 space-y-6">
                <Field title="Production type">
                    <div class="grid sm:grid-cols-2 gap-4">
                        <ChoiceCard
                            title="Live"
                            formName="prod_type"
                            formValue="live"
                            checked
                        >
                            Offer remote viewers a live broadcast of your show
                            and sell unlimited virtual tickets. Combine multiple
                            cameras with custom graphics for a cohesive and
                            professional viewing experience. After the show, the
                            individual camera feeds can be re-edited for a
                            picture-perfect final recording.
                        </ChoiceCard>
                        <ChoiceCard
                            title="Recorded"
                            formName="prod_type"
                            formValue="recorded"
                        >
                            With a quick post-production turnaround, we can edit
                            footage from the show and get a finished product
                            back to you within days.
                        </ChoiceCard>
                    </div>
                </Field>
                <Field title="Cameras">
                    <div class="grid sm:grid-cols-2 gap-4">
                        <ChoiceCard
                            title="Single camera"
                            formName="multi_camera"
                            formValue="false"
                        >
                            One camera, usually recording a static shot from the
                            back of the theatre, is the simplest and cheapest
                            setup for live productions.
                        </ChoiceCard>
                        <ChoiceCard
                            title="Multi-camera"
                            formName="multi_camera"
                            formValue="true"
                            checked
                        >
                            Multiple cameras simultaneously record the show from
                            different angles. Cutting between them not only
                            creates visual interest but allows viewers to see
                            the performance up close.
                        </ChoiceCard>
                    </div>
                </Field>
                <Field title="Delivery resolution">
                    <div class="grid sm:grid-cols-3 gap-4">
                        <ChoiceCard
                            title="SD"
                            formName="delivery_res"
                            formValue="sd"
                        />
                        <ChoiceCard
                            title="HD"
                            formName="delivery_res"
                            formValue="hd"
                            checked
                        />
                        <ChoiceCard
                            title="4K"
                            formName="delivery_res"
                            formValue="4k"
                        />
                    </div>
                </Field>
            </div>
            <div
                class="grid sm:grid-cols-2 gap-x-6 gap-y-6 p-8 border-t border-neutral-700"
            >
                <Field title="Name" required>
                    <Input
                        name="name"
                        type="text"
                        autocomplete="name"
                        autocapitalize="words"
                        required
                    />
                </Field>
                <Field title="Email" required>
                    <Input
                        name="email"
                        type="email"
                        autocomplete="email"
                        required
                    />
                </Field>
                <Field title="Organisation">
                    <Input
                        name="org"
                        type="text"
                        autocomplete="organization"
                        autocapitalize="words"
                    />
                </Field>
                <Field title="Job title">
                    <Input
                        name="role"
                        type="text"
                        autocomplete="organization-title"
                        autocapitalize="words"
                    />
                </Field>
                <Field
                    title="Dates and times of shows, and other notes"
                    required
                >
                    <TextArea rows={5} required />
                </Field>
                <Field title="What happens next">
                    <p class="leading-normal">
                        Pricing is calculated based on the specification
                        provided here.
                    </p>
                    <p class="mt-2 leading-normal">
                        Shows happening around a similar time benefit from the
                        cost of equipment being split. The more shows and groups
                        that sign up with us, the lower the overall price for
                        everyone. So, please tell your friends about us!
                    </p>
                </Field>
            </div>
            <div
                class="p-8 border-t border-neutral-700 flex flex-col items-end space-y-5"
            >
                <div data-netlify-recaptcha="true"></div>
                <button
                    class="rounded-lg text-lg font-bold bg-yellow-400 text-black tracking-tighter py-4 px-6 leading-none"
                    type="submit"
                >
                    Submit specification
                </button>
            </div>
        </form>
    </main>
</Page>
